<!-- tendrá un formulario para acreditar su asistencia al evento. 
 El formulario tendrá los campos nombre y apellido, documento (solo dni o seleccionable y nro de documento), numero de contacto, email y fecha de nacimiento. -->

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Asistencia</title>
    </head>
      <body>
        <section>
            <form class="">
                <fieldset>
                <legend>Completa el formulario para asistir al festival</legend>
                <label for="first-name">Nombres:</label>
                <input type="text" name="first-name"><br>
                <label for="last-name">Apellido:</label>
                <input type="text" name="last-name"><br>
                <label for="docmuent">Documento:</label>
                <input type="number" name="document"><br>
                <label for="contact-number">Numero de contacto:</label>
                <input type="tel" name="contact-number"><br>
                <label for="email">Email:</label>
                <input type="text" name="email"><br>
                <label for="birthdate">Fecha de nacimiento:</label>
                <input type="date" name="birthdate"><br>
                </fieldset>
                <button type="submit">Confirmar</button>
            </form>
        </section>
    </body>
</html>

<script>

</script>

<style>
    *, *::before, *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    
</style>