---
import MainLayout from "@layouts/MainLayout.astro";
import indexFns from "@assets/indexfns.jpg";

import artists from "@assets/artists.json";
import { Image } from "astro:assets";

const artistGroups = artists.groups.map((group) => group.name);
---

<MainLayout title="Fiesta del Sol 2025">
  <section class="intro">
    <h1 class="index__title">Fiesta del Sol 2025</h1>
    <p class="intro__paragraf">
      Aquí encontrarás toda la información que necesitás conocer sobre la Fiesta
      del Sol: fecha, <a class="list__link" href="/artists">artistas</a>, <a
        class="list__link"
        href="/schedule">cronograma</a
      >, <a class="list__link" href="/check-in">asistencia</a>
      y mucho más!
    </p>
    <Image
      class="intro__img"
      src={indexFns}
      alt="baner del fiesta del sol 2025"
    />
    <p class="intro__paragraf">
      La Fiesta Nacional del Sol, máxima celebración de los sanjuaninos, es una
      tradicional fiesta que se lleva a cabo anualmente en la provincia de San
      Juan.
    </p>
    <p class="intro__paragraf">
      La Fiesta del Sol 2025, FNS 2025, se llevará a cabo en el Estadio del
      Bicentenario, contando con la presencia de consagrados artistas de nivel
      internacional tales como {
        artistGroups.slice(0, -1).join(", ") + " y " + artistGroups.at(-1)
      }.
    </p>
  </section>
  <section class="faq">
    <h2 class="faq__title">Preguntas Frecuentes</h2>
    <article class="faq-item">
      <h3 class="faq-item__question">¿Cuándo es la Fiesta del Sol 2025?</h3>
      <p class="faq-item__answer">
        El espectáculo de la edición 2025 de la tradicional Fiesta del Sol se
        llevará a cabo el viernes 31 de octubre 2025.
      </p>
    </article>
    <article>
      <h3 class="faq-item__question">¿Donde es la Fiesta del Sol 2025?</h3>
      <p class="faq-item__answer">
        La Fiesta del Sol se llevará a cabo en el Estadio del Bicentenario (San
        Juan, Argentina).
      </p>
    </article>
  </section>
</MainLayout>

<style>
  .intro__img {
    border: 0.2rem solid gray;
    border-radius: 20% 5% 35%;
    box-shadow: 0 8px 16px black;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
</style>
