---
import fns from "@assets/fns.png";
import Footer from "@components/Footer.astro";

import { Image } from "astro:assets";

const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
  </head>
  <body>
    <header class="header">
      <Image class="header__image" src={fns} alt="logoFestivalNacionalDelSol" />
      <nav class="nav-bar">
        <ul class="nav-bar__list">
          <li class="nav-bar__list-item">
            <a href="/">FIESTA DEL SOL 2025</a>
          </li>
          <li class="nav-bar__list-item"><a href="/artists">ARTISTAS</a></li>
          <li class="nav-bar__list-item"><a href="/contact">CONTACTO</a></li>
          <li class="nav-bar__list-item"><a href="/schedule">CRONOGRAMA</a></li>
          <li class="nav-bar__list-item"><a href="/check-in">ASISTENCIA</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --bg-nav: oklch(0.4413 0.2031 311.18);
    --bg-titles: oklch(0.7234 0.1878 49.51);
    --white: oklab(1 0 0);
    --font-body: "Helvetica Neue", Helvetica, Arial, sans-serif;

    --text: oklab(0.25 0 0);
    --primary: oklab(0.6 0.25 -0.1);
    --primary-dark: oklab(0.45 0.25 -0.1);
    --border: oklch(0.4413 0.2031 311.18);
    --muted: oklab(0 0 0);

    --bg-footer: oklch(0.7234 0.1878 49.51);
  }
  /* Inicio RESET de CSS */
  *,
  *::before,
  *::after {
    font-family: var(--font-body);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 16px;
  }

  body {
    min-height: 100vh;
    line-height: 1.5;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* Fin RESET de CSS */
  *,
  *::before,
  *::after {
    font-family: var(--font-body);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,
  body {
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    font-weight: 600;
  }

  h1,
  h2 {
    background-color: var(--bg-titles);
    color: var(--white);
    font-weight: lighter;
    border-radius: 20px;

    margin: 1rem;
    padding: 1rem 1.5rem;
  }

  :is(h3, h4, h5, h6) {
    padding: 0.5rem 0.25rem;
    margin: 1rem 0.75rem;
  }

  ol,
  ul {
    list-style: none;
  }

  li {
    display: block;
    padding-left: 1.2rem;
    margin: 0.25rem 0.5rem;
  }

  a {
    color: var(--primary);
    text-decoration: none;
  }

  a:hover {
    color: var(--primary-dark);
    text-decoration: underline;
  }

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
  }

  section {
    width: 100%;
  }

  p,
  img {
    margin: 1.2rem;
  }

  .header {
    display: flex;
    flex-direction: column;
    padding: 1.8rem 0;
  }

  .header__image {
    margin: 2rem auto;
    width: auto;
    height: auto;
  }

  .nav-bar {
    background-color: var(--bg-nav);
  }

  .nav-bar__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  .nav-bar__list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    padding: 0;

    border-radius: 0.8rem;
  }
  .nav-bar__list-item > a {
    text-decoration: none;
    display: inline-block;
    width: 98%;
    text-wrap: balance;
    text-align: center;
    color: inherit;
    border-radius: inherit;
    padding: 1rem 1.2rem;
  }
  .nav-bar__list-item > a:hover {
    color: var(--primary-dark);
    background: var(--white);
  }

  @media screen and (max-width: 800px) {
    main {
      padding: 0;
    }

    .nav-bar {
      height: auto;
    }

    .nav-bar__list {
      flex-direction: column;
    }

    .nav-bar__list-item {
      width: 100%;
    }
  }

  @media screen and (max-width: 1100px) {
    main {
      padding: 1rem;
    }

    .nav-bar__list {
      gap: 0;
    }
  }

  @media screen and (max-width: 1600px) {
    main {
      padding: 2rem;
    }
  }
</style>
