---
const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <h1>texto</h1>
      <nav>
        <ul>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
        </ul>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer>Derechos reservados @copyright 2025</footer>
  </body>
</html>

<style is:global>
  :root {
    --bg-header: oklch(0.4413 0.2031 311.18);
    --bg-titles: oklch(0.7234 0.1878 49.51);
    --heading: oklab(1 0 0);
    --font-body: "Helvetica Neue", Helvetica, Arial, sans-serif;

    --text: oklab(0.25 0 0);
    --primary: oklab(0.6 0.25 -0.1);
    --primary-dark: oklab(0.45 0.25 -0.1);
    --border: oklch(0.4413 0.2031 311.18);
    --muted: oklab(0 0 0);
  }

  /* RESET de CSS */
  *,
  *::before,
  *::after {
    font-family: var(--font-body);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 16px;
  }

  body {
    min-height: 100vh;
    line-height: 1.5;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /*FIN RESET CSS */
</style>
