---
const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <h1>texto</h1>
      <nav>
        <ul>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
        </ul>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer>Derechos reservados @copyright 2025</footer>
  </body>
</html>

<style is:global>
  :root {
    --bg-header: oklch(0.4413 0.2031 311.18);
    --bg-titles: oklch(0.7234 0.1878 49.51);
    --white: oklab(1 0 0);
    --font-body: "Helvetica Neue", Helvetica, Arial, sans-serif;

    --text: oklab(0.25 0 0);
    --primary: oklab(0.6 0.25 -0.1);
    --primary-dark: oklab(0.45 0.25 -0.1);
    --border: oklch(0.4413 0.2031 311.18);
    --muted: oklab(0 0 0);

    --bg-footer: oklch(0.7234 0.1878 49.51);
  }

  /* Inicio RESET de CSS */
  *,
  *::before,
  *::after {
    font-family: var(--font-body);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 16px;
  }

  body {
    min-height: 100vh;
    line-height: 1.5;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* Fin RESET de CSS */

  header {
    background-color: var(--bg-header);
    padding: 2rem 2.5rem;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    font-weight: 600;
  }

  h2 {
    background-color: var(--bg-titles);
    font-weight: lighter;
  }

  :is(h1, h2) {
    color: var(--white);
    border-radius: 20px;

    margin: 1rem;
    padding: 1rem 1.5rem;
  }

  :is(h3, h4, h5, h6) {
    padding: 0.5rem 0.25rem;
    margin: 1rem 0.75rem;
  }

  ol,
  ul {
    list-style: none;
  }

  li {
    display: block;
    padding-left: 1.2rem;
    margin: 0.25rem 0.5rem;
  }

  a {
    color: var(--primary);
    display: block;
    text-decoration: none;
  }

  a:hover {
    color: var(--primary-dark);
    text-decoration: underline;
  }

  main {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
  }

  p,
  img {
    margin: 1.2rem;
  }

  footer {
    background-color: var(--bg-footer);
    padding: 1em 0;
    border-top: 1px solid var(--border);
    text-align: center;
    font-size: 0.9em;
    color: var(--white);
  }
</style>
